<a href="https://colab.research.google.com/github/joaofigueiro/BancoDeDadosI/blob/main/LogUndo/TP2_LOG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
!pip install --upgrade SQLAlchemy
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE db_log;'

In [2]:
!sudo -u postgres psql -U postgres -d db_log -c "\c db_log;"

You are now connected to database "db_log" as user "postgres".

In [3]:
%env DATABASE_URL=postgresql://postgres:postgres@localhost/db_log

%reload_ext sql

env: DATABASE_URL=postgresql://postgres:postgres@localhost/db_log

In [ ]:
%%sql
set schema 'public';
SELECT table_name
  FROM information_schema.tables
 WHERE table_schema='public'
   AND table_type='BASE TABLE';

In [ ]:
%%sql
set schema 'public';
select * from public."data";

In [15]:
import json
import numpy
import psycopg2
from configparser import ConfigParser


def db_config(filename='database.ini', section='postgresql'):
  parser = ConfigParser()
  parser.read(filename)

  db = {}
  if parser.has_section(section):
    params = parser.items(section)
    for param in params:
      db[param[0]] = param[1]
  else:
    raise Exception('Section {0} not found in the {1} file'.format(section, filename))

  return db


def load_table_metadata(metadata):

    try:
      json_metadata = json.loads(metadata)
      return json_metadata
    except:
      print("JSON Inválido!")


def populate_table(json_metadata, cursor, table_name):

    for table in json_metadata.keys():
        metadata_table_name = table
        break

    columns = list(json_metadata[metadata_table_name].keys())
    values = list(json_metadata[metadata_table_name].values())
    value_strings = []
    insert_sql = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES "

    for i in range(len(values[0])):
        value_strings.append("(" + ", ".join([str(values[j][i]) for j in range(len(columns))]) + ")")

    insert_sql += ", ".join(value_strings) + ";"

    cursor.execute(insert_sql)


def create_table(metadata, cursor):

    table_name = "data"
    cursor.execute(f"DROP TABLE IF EXISTS {table_name};")

    cursor.execute(f"""
        CREATE TABLE {table_name} (
            id integer NOT NULL,
            A integer NOT NULL,
            B integer NOT NULL
        );
      """)

    json_metadata = load_table_metadata(metadata)
    populate_table(json_metadata, cursor, table_name)


def load_log_file():

    with open("log.txt", "r") as log:
        transactions = {}

        for lines in reversed(log.readlines()):
            lines = lines.replace('<', '').replace('>', ''). replace(',', ' ').split()

            if lines[0] == 'END':
                finalized_checkpoint = True

            if lines[0] == 'START' and finalized_checkpoint:
                break

            if len(lines) >= 4:
                transactions[lines[0]] = {
                    "row": lines[1],
                    "column": lines[2],
                    "value": lines[3],
                    "bl_commited": False
                }

            if lines[0] == 'commit':
                if lines[1] in transactions.keys():
                    transactions[lines[1]]['bl_commited'] = True

        return transactions


def undo_values(transactions, json_metadata, table_name):

    for transaction in transactions.keys():
                json_metadata[table_name][
                    transactions[transaction]["column"]
                ][
                    json_metadata[table_name]["id"].index(
                        int(transactions[transaction]["row"]))
                ] =  transactions[transaction]["value"]

    print(json_metadata)

    return json_metadata


def print_undo_transactions(transactions):

    for t in transactions.keys():
        if not transactions[t]['bl_commited']:
            print(f"Transação {t} realizou UNDO")


def check_table_values(cursor, undo_transactions):

    for values in undo_transactions:
      cursor.execute(f"""
          UPDATE data
          SET {undo_transactions[values]["column"]}
          = {undo_transactions[values]["value"]}
          WHERE
            id = {undo_transactions[values]["row"]};
      """
      )

def final_results(cursor):

    cursor.execute("SELECT * FROM data;")
    print(cursor.fetchall())

metadata = """ {
  "table": {
    "id": [1, 2],
    "A": [20, 20],
    "B": [55, 30]
  }
}
"""

undo_transactions = load_log_file() # Identifica quais transações realizaram UNDO
print_undo_transactions(undo_transactions) # Printa quais transações realizaram UNDO
formatted_metadata = load_table_metadata(metadata)
undo_values(undo_transactions, formatted_metadata, "table")

params = db_config()
conn = psycopg2.connect(**params)
cursor = conn.cursor()
create_table(metadata, cursor)
check_table_values(cursor, undo_transactions)
final_results(cursor)

Transação T4 realizou UNDO
Transação T2 realizou UNDO
{'table': {'id': [1, 2], 'A': [20, 20], 'B': ['55', '20']}}
[(1, 20, 55), (2, 20, 20)]